<div class="container">
  <h2> General Instructions </h2>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Submission of Papers</h3>
      <ul type="square" style="font-size:15px">
        <li>Authors are required to submit their papers (maximum of 8 A4 sized pages) adhering to the IEEE specified format (a copy of which is available for download in the site).</li>
        <li>Authors must upload their papers onto the conference website.</li>
        <li>The submitted papers must be original and unpublished.</li>
        <li>Double blind peer reviews will be followed.</li>
        <li>Registrations must be done online and a scanned copy of the Demand Draft must be enclosed with it.</li>
        <li>The DD must be drawn in favour of "St.Joseph's Institute of Technology", payable within Chennai at any nationalised bank.</li>
        <li>Selected papers will be pubished in Annexure I or Annexure II.</li>
      </ul>
      <h3>Registration</h3>
    	<ul type="square" style="font-size:15px">
    		<li>Authors must register online at the conference website.</li>
    		<li>A valid phone number and email ID must be given, along with a password of minimum 8 characters.</li>
    		<li>Authors must register on or before 27th march 2015.</li>
    	</ul>
      <h3>Event Registration</h3>
     	<ul type="square" style="font-size:15px">
    		<li>The Demand Draft for the required amount must be drawn.</li>
     		<li>The DD number must be entered along with the name of the bank and branch.</li>
    		<li>The scanned copy of the DD must be uploaded.</li>
    	</ul>
      <h3>Payment Detials</h3>
      <div class="panel panel-default">
        <table class="table" >
          <tr >
            <td style="font-size:16px">Students</td>
            <td style="font-size:16px">Rs. 1000</td>
          </tr>
          <tr>
            <td style="font-size:16px">Faculty/Delegates/Research Scholars</td>
            <td style="font-size:16px">Rs. 1500</td>
          </tr>
        </table>
      </div>
      <h3>Upload your Paper</h3>
    	<ul type="square" style="font-size:16px">
    		<li>Select the paper type and enter the Title and Abstract.</li>
    		<li>Upload your full paper.</li>
    		<li>If necessary, the paper can be edited and uploaded again.</li>
    	</ul>
      <h3>Topics of interest for submission include, but are not limited to: </h3>
      <h3>CSE & IT:</h3>
      <ul class="list-group" style="font-size:16px">
        <li class="list-group-item">Cloud Computing</li>
        <li class="list-group-item">Grid computing</li>
        <li class="list-group-item">Big data</li>
        <li class="list-group-item">Mobile computing</li>
        <li class="list-group-item">Computer & network security</li>
        <li class="list-group-item">Data/Text mining</li>
        <li class="list-group-item">Internet information systems & technologies</li>
        <li class="list-group-item">Semantic web & web services</li>
        <li class="list-group-item">Cluster Computing </li>
        <li class="list-group-item">Open Source technology</li>
        <li class="list-group-item">Cyber Crime and Security </li>
        <li class="list-group-item">AI & Expert System </li>
      </ul>
      <h3>ECE:</h3>
      <ul class="list-group" style="font-size:16px">
        <li class="list-group-item">Array Signal Processing</li>
        <li class="list-group-item">Image/Video & Speech/Audio Processing</li>
        <li class="list-group-item">Wireless Communication</li>
        <li class="list-group-item">Next Generation Networks</li>
        <li class="list-group-item">Biomedical Systems/Biological Networks</li>
        <li class="list-group-item">RF/Microwaves/Antennas</li>
        <li class="list-group-item">Optical Communications</li>
        <li class="list-group-item">Adhoc and Sensor networks</li>
        <li class="list-group-item">Smart Grids and Green Technology</li>
        <li class="list-group-item">DSP Algorithms and Architecture</li>
        <li class="list-group-item">VLSI and Embedded Systems</li>
      </ul>
      <h3>EEE:</h3>
      <ul class="list-group" style="font-size:16px">
        <li class="list-group-item">Power system stability and control</li>
        <li class="list-group-item">Power quality</li>
        <li class="list-group-item">Embedded systems</li>
        <li class="list-group-item">Special Electrical Machines</li>
        <li class="list-group-item">Converters and Inverters</li>
        <li class="list-group-item">Network Harmonics</li>
        <li class="list-group-item">Power System Design</li>
      </ul>
      <h3>MATHS:</h3>
      <ul class="list-group" style="font-size:16px">
        <li class="list-group-item">Automata Theory</li>
        <li class="list-group-item">Discrete Mathematics</li>
        <li class="list-group-item">Pattern Recognition</li>
        <li class="list-group-item">Theory of Computation</li>
        <li class="list-group-item">Statistics Model</li>
        <li class="list-group-item">Applied Statistics</li>
      </ul>
      <h3>MECH:</h3>
      <ul class="list-group" style="font-size:16px">
        <li class="list-group-item">Recent Trends in Automobiles</li>
        <li class="list-group-item">Fracture Mechanics</li>
        <li class="list-group-item">E-Waste Management</li>
        <li class="list-group-item">CAD/CAM/CAE</li>
      </ul>
      <h3>CIVIL:</h3>
      <ul class="list-group" style="font-size:16px">
        <li class="list-group-item">Earthquake Resitances Structures</li>
        <li class="list-group-item">Advancements in Construction Material</li>
        <li class="list-group-item">Innovation in Ground Improvement Techniques</li>
      </ul>
    </div>
  </div>
</div>
