	<div class="span12" style="margin-left:300px">
		<div class="inner" >

			<!-- Service text--><br>
			<h1 >Committee</h1>
			<p >
				"Reviewers with the Greater Excellence supporting the Review of the paper Submissions!"</p>
			<br>
					</div><!-- /inner -->
	</div>	<!-- /span12 -->

	<div class="clearfix"></div>





	<table width="800" align="center">
		<tr>
			<td width="400">
				<table align="center" width="400">
					<tr>
						<td align="left">
							<ul>
								<li><strong><font size =5><u>Chief Patron</u></font></strong><br></li>
								<li><strong>Dr. B. BABU MANOHARAN ,M.A.,M.B.A.,Ph.D.,  </strong><br>Managing Director,St.Joseph’s Institute of Technology
								</li>
								<br>
								<br>
								<li><strong><font size =5><u>Patron</u></font></strong><br></li>
								<li><strong>Mrs. B. JESSIE PRIYA,M.Com., </strong><br>Director,St.Joseph’s Institute of Technology
								</li>
								<br>
								<li><strong>Mr. B. SHASHI SEKAR,M.Sc.(Intl.Business), </strong><br>Chief Excecutive Officer,St.Joseph’s Institute of Technology
								</li>
								<br>
								<br>
								<li><strong><font size =5><u>Conference Chairman:</u></font></strong><br></li>
								<li><strong>Dr. P. RAVICHANDRAN,M.Tech.,Ph.D., </strong><br>Principal,St.Joseph’s Institute of Technology
									<br>
									<br>
									<li><strong><font size =5><u>Convenors:</u></font></strong>
									<br><br>
									<li><strong>Dr.J.Dafni Rose, M.E.,Ph.D </strong><br>
									</li>
									<br>
									<li><strong>Dr. C. Gnana Kousalya M.E, Ph.D    </strong><br>
									</li>
									<br>
									<li><strong>Dr.D.Kirubaharan, M.E.,Ph.D </strong><br>
									</li><br>
									<li><strong>Dr.K.Arun Vasantha Geethan, M.E.,Ph.D	  </strong><br>
									</li><br>
									<li><strong>Dr.S.Kalarani., M.E.,Ph.D</strong><br>
									</li>
									<br>
									<li><strong>Dr.T.Kalyani, M.Sc., M.Phil., Ph.D   </strong><br>
									</li>
									<br>
									<li><strong>Mrs.S.Padmakala, M.E.,(Ph.D) </strong><br>
									</li>
									<br>
									<li><strong>Dr.G.Rohini, M.E.,Ph.D </strong><br>
									</li>
									<br>
									<li><strong>Dr.S.Hemalatha, M.E.,Ph.D </strong><br>
									</li>
									<br>
									<li><strong>Mrs.Savithri, M.E.,(Ph.D) </strong><br>
									</li>
									<br>
									<li><strong>Dr.R.Priscilla, M.E.,Ph.D  </strong><br>
									</li>
									<br>
									<li><strong>Dr.T.T.Raman, M.Sc., M.Phil., Ph.D        </strong><br>
									</li>
									



								</ul>
							</td>
						</tr>
					</table>

					<td width="400">
						<table align="center" width="400">
							<tr>
								<td align="left">
									<ul>
										<li><strong><font size =5><u>Advisory Committee:</u></font></strong><br></li>
										<li><strong> Dr.C.R.Rene Robin M.E., Ph.D</strong><br> Jerusalem College of Engineering <br>
										</li><br>
										<li><strong>Dr.G.S.Anadhamala M.E., Ph.D</strong><br>SRM Eswari Engineering College, <br>
										</li><br>
										<li><strong>Dr.K.M.Anandkumar M.Tech.,Ph.D</strong><br>SRM Eswari Engineering College<br>
										</li><br>
										<li><strong>Dr.A.Jaya MCA,M.E.,Ph.D</strong><br>B. S. ABDUR RAHMAN CRESCENT ENGINEERING COLLEGE<br>
										</li><br>
										<li><strong>Dr. M. Madhavi Latha</strong><br>Jawaharlal Nehru Technological University <br>
										</li><br>
										<li><strong>Dr. R. Govindaraj</strong><br>Central Electronics Engineering Research Institute (Ceeri) Center<br>
										</li><br>
										<li><strong>Dr. A. Suresh</strong><br>S.A. Engineering College<br>
										</li><br>
										<li><strong>Dr. S. Rama Reddy</strong><br>Jerusalem college of Engineering<br>
										</li><br>
										<li><strong>Dr.A.JOHN RAJAN M.E, Ph.D</strong><br> Sathyabama University, <br>
										</li><br>
										<li><strong>Dr.S.Vijayananth M.E, Ph.D</strong><br> Agni college of Technology<br>
										</li><br>
										<li><strong>Dr.D.Gnanaraj Thomas</strong><br>Madras Christian College<br>
										</li><br>
										<li><strong>Dr.P.Marimuthu</strong><br>NIMHANS <br>
										</li><br>
										</ul>
								</td>
							</tr>
					</table></td>


										
                                               <td width="400">
						<table align="center" width="400">
							<tr>
								<td align="left">
									<ul>
										<li><strong><font size =5><u>Coordinators:</u></font></strong><br></li>
										<li><strong>Mr. Vijay Kumar M.E.,(Ph.D) </strong><br>
										</li><br>
										<li><strong>Mr. M. Baskaran M.E.,(Ph.D)</strong><br>
										</li>
										<br>
										<li><strong>Mr. B. Duraibabu M.E.,(Ph.D) </strong><br>
										</li><br>
										<li><strong>Mr. T. Prabhuram M.E.,(Ph.D) </strong><br>
										</li>
										<br>
										<li><strong>Ms. M. Tamizhamudhu M.E.  </strong><br>
										</li>
									</td>
							</tr>
					</table></td>




										
				</table>

