<div class="container">
  <h2>Dates to Remember</h2><br><br>


  <div class="timeline">
    <h2>2016</h2>

    <ul>
      <li>
        <h3>Submission Of Full Paper</h3>
        <p>Upload your full paper within the specified date, in accordance to the IEEE standard format(max 8 pages). It must be original and unpublished.</p>
        <time>31 March 2016</time>
      </li>
      <li>
        <h3>Notification Of Acceptance</h3>
        <p>The papers will be judged, and if accepted, a notification of acceptance will be sent to the author.</p>
        <time>5 April 2016</time>
      </li>
      <li>
        <h3>Registration</h3>
        <p>Registration must be done online, and a scanned copy of DD needs to be uploaded.</p>
        <time>15 April 2016</time>
      </li>
      <li>
        <h3>Conference Date</h3>
        <p>The authors have to present their paper in the conference.</p>
        <time>28 & 29 April 2016</time>
      </li>
    </ul>
  </div>
</div>

<br><br><br><br>
