
<div class="container">
  <div class="row"><br><br>
      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="1000" height="440" src="https://maps.google.com/maps?hl=en&q=St.Joseph's Institute of Technology&ie=UTF8&t=roadmap&z=16&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">
                embedgooglemaps.com
            </a></small></div><div><small><a href="https://googlemapsgenerator.com">embed google maps</a></small></div></iframe>
      <h3>Contact Us:</h3>

            <h2>Venue</h2>
            <address style="font-size:16px">
              St. Joseph's Institute of Technology,<br>
              Old Mamallapuram Road,<br>
              Chennai - 600 119, Tamil Nadu, India.<br>
              Ph: 044 - 2450 3132<br>
              Fax: 044 - 2450 3133<br>
            </address>
      <div class="panel panel-default">
        <table class="table">
          <tr>
          			<th>Department</th>
          			<th>Incharge</th>
          			<th>MobileNumber</th>
          			<th>E-Mail</th>
          </tr>
          <tr>
			         <td>CSE</td>
		           <td>Dr.J.Dafni Rose</td>
					     <td>9840009246</td>
               <td>cseitpapers@ncrtet2015.com</td>
					</tr>
          <tr>
			         <td>ECE</td>
				       <td >Dr.C.Gnana Kousalya</td>
							 <td>9840009247</td>
               <td>ecepapers@ncrtet2015.com</td>
          </tr>
          <tr>
			         <td>EEE</td>
				       <td>Dr.D.Kirubakaran</td>
							 <td>9840009248</td>
               <td>eeepapers@ncrtet2015.com</td>
          </tr>
          <tr>
			         <td>MECHANICAL</td>
				       <td>Dr.K.Arun Vasantha Geethan</td>
							 <td>9840009249</td>
               <td>mechpapers@ncrtet2015.com</td>
          </tr>
          <tr>
			         <td>IT</td>
				       <td>Dr.S.Kalarani</td>
							 <td>9840009250</td>
               <td>cseitpapers@ncrtet2015.com</td>
          </tr>
        </table>

  </div>
</div>
</div>
