
      <center>

        <br>
     

      <h2>
          International Conference in Recent Trends and Engineering Technology
      </h2>
      <h4>Organized by</h4>
      <h2>
          St.Joseph's Institue of Technology
      </h2></center><div style="padding-left:200px;">
      <h3>Your Details:</h3>
      <table style="font-size:15pt">
    <tr>  <td> First Name: </td><td> <%= current_user.first_name%></td>
        <tr>   <tr> <td> Last Name: </td><td> <%= current_user.last_name%></td></tr>
        <tr> <td> Email id:  </td><td><%= current_user.email%></td></tr>
<tr><td> DD Number: </td><td><%= current_user.payment_detail.dd_number%></td></tr>
</table>

<h3>Rules</h3>
<h4>
  Submission of Papers</h4>
<ul>
<li>      Authors are required to submit their papers (maximum of 8 A4 sized pages) adhering to the IEEE specified format (a copy of which is available for download in the site).</li>
<li>   Authors must upload their papers onto the conference website.</li>
<li>      The submitted papers must be original and unpublished.</li>
<li>      Double blind peer reviews will be followed.</li>
<li>      Registrations must be done online and a scanned copy of the Demand Draft must be enclosed with it.</li>
<li>      The DD must be drawn in favour of "St.Joseph's Institute of Technology", payable within Chennai at any nationalised bank.</li>
<li>      Selected papers will be pubished in the International Journal of Advances in Engineering, Research (IJAER).</li>
</ul>
<ul>
<h4>Event Registration</h4>

<li>    The Demand Draft for the required amount must be drawn.</li>
<li>    The DD number must be entered along with the name of the bank and branch.</li>
<li>    The scanned copy of the DD must be uploaded.</li>

</ul>


</div>
    
